    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>A brief bit about me</h2>
              <br/>
                <p>I am a Londond based Full stack web developer with an educational background in Physics and Petroleum Engineering and a professional background as an Engineer in a major international Oil and Gas operator. I currently looking to transfer to the exciting world of Web Development.</p>
                <p>After enrolling in a 3 month intensive Web Development course at General Assembly I discovered a passion to code and create. I am excited by the idea of being able to develop concepts and build web applications. I am looking to join a company where I can add value in an exciting environment as well as develop my technical skills.</p>
                <br/>
                <br/>
                <br/>
                <hr>
              </div>
        </div>
    </section>
