<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My History</h2>
                    <h3 class="section-subheading text-muted">My Experiences up until today</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/GA.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2015 - December 2015</h4>
                                    <h4 class="subheading">GA Web Development Immersive Course - London</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A 12 week, all day, everyday immersive course. We covered a range of topics from the basics of programming to both client and server side languages and frameworks including JavaScript, jQuery, Ruby, Rails, Sinatra, AJAX, Node.js, Express, AngularJs HTML and CSS. During my time at GA I got the chance to work on several mini and three bigger projects one of which was a group project.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tullow.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2014 - June 2015</h4>
                                    <h4 class="subheading">Well Site Drilling Engineer - Tullow Oil - Kenya/London</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Well Site Drilling Engineer working on an exploration and appraisal drilling program onshore in the Rift Valley of Kenya. Involved in technical design, planning and execution of drilling programme.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/heriot.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2013 - September 2014</h4>
                                    <h4 class="subheading">MSc Petroleum Engineering - Heriot Watt University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">One year study of the technical, commercial and strategic elements of the upstream oil and gas industry. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/manchester.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2010 - September 2013</h4>
                                    <h4 class="subheading">BSc Physics - The University of Manchester</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Developed advanced mathematical skills and techniques and applied these techniques to complex practical and theoretical physics</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/logo1.png" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>