<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">When I'm Not Developing</h2>
            </div>
        </div>
        <div class="row personal-pictures">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 personal-image img-responsive img-centered personal-img-1">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3 personal-image img-responsive img-centered personal-img-2">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 personal-image img-responsive img-centered personal-img-3">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 personal-image img-responsive img-centered personal-img-4">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 personal-image img-responsive img-centered personal-img-5">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 personal-image img-responsive img-centered personal-img-6">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 personal-image img-responsive img-centered personal-img-7">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 personal-image img-responsive img-centered personal-img-8">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 personal-image img-responsive img-centered personal-img-9">
            </div>
        </div>
    </div>
</aside>