<section id="services">
    <!-- Page Content -->
    {% for post in site.posts reversed %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">
        <div class="container">
            <h2 class="section-heading">{{ post.title }}</h2>
            <div class="project-square vairlo">
            </div>
            <div class="project-square cause">
            </div>
            <div class="project-square meEmoji">
            </div>
            <!-- /.container -->
        </div>
        <hr>

    </div>

    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">
        <div class="container">
            <h2 class="section-heading">{{ post.title }}</h2>
            <div class="life-square">box1
            </div>
            <div class="life-square">box2
            </div>
            <div class="life-square">box3
            </div>
            <div class="life-square">box4
            </div>
            <div class="life-square">box5
            </div>
            <div class="life-square">box6
            </div>
            <div class="life-square">box7
            </div>
            <div class="life-square">box8
            </div>
            <div class="life-square">box9
            </div>
            <div class="life-square">box10
            </div>
            <div class="life-square">box11
            </div>
            <div class="life-square">box12
            </div>
            <!-- /.container -->
        </div>
        <hr class="no-margin">
    </div>
    <!-- /.content-section-b -->
    {% endif %}
    {% endfor %}
</section>
