<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">What I feel most comfortable with.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-desktop fa-stack-1x "></i>
                    </span>
                    <h4 class="service-heading">Front End Dev</h4>
                    <p class="text-muted">
                        <ul class="no-bullet margin-fix">
                            <li>HTML5/CSS3</li>
                            <li>JavaScript(JQuery)</li>
                            <li>Angular.Js</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-server fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Back End Dev</h4>
                    <p class="text-muted">
                        <ul class="no-bullet margin-fix">
                            <li>Node.js(Express)</li>
                            <li>Mongo/Db</li>
                            <li>Ruby(Rails/Sinatra)</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-user fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Skills From Experience</h4>
                    <p class="text-muted">
                        <ul class="no-bullet margin-fix">
                            <li>Technical Reporting (Engineering)</li>
                            <li>Management</li>
                            <li>International Work Experience</li>
                            <li>Tea Making <i class="fa fa-coffee"></i></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>