<div class="content-section-skills">
    <div class="container">
        <h2 class="section-heading center">Skills</h2>
        <div class="row skills-info">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 center no-pad">
                <h3>Front End Dev</h3>
                <!-- <img src="./img/front-end.png" class="skills-symbol"> -->
                <ul>
                    <li>HTML5/CSS3</li>
                    <li>JavaScript</li>
                    <li>AngularJS</li>
                    <li>Foundation</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <div class="col-lg-4 center no-pad" >
                <h3>Back End Dev</h3>
                <!-- <img src="./img/back-end.png" class="skills-symbol"> -->
                <ul>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>Mongo/Db</li>
                    <li>Ruby</li>
                    <li>Rails/Sinatra</li>
                </ul>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <!-- /.container -->
    </div>
    <hr>
</div>