<div class="content-section-skills">
    <div class="container">
        <h2 class="section-heading center">Skills</h2>
        <div class="row skills-info">
            <div class="col-lg-4 col-md-12 center no-pad">
                <h3>Front End Dev</h3>
                <img src="./img/front-end.png" class="skills-symbol">
                <ul>
                    <li>HTML5/CSS3</li>
                    <li>JavaScript(JQuery)</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12  center no-pad" >
                <h3>Back End Dev</h3>
                <img src="./img/back-end.png" class="skills-symbol">
                <ul>
                    <li>Node.js(Express)</li>
                    <li>Mongo/Db</li>
                    <li>Ruby(Rails/Sinatra)</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12 center no-pad">
            <h3>Front End Frameworks</h3>
                <img src="./img/frameworks.png" class="skills-symbol">
                <ul>
                    <li>Angular.js</li>
                    <li>Foundation</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>
    <H1>need to make this part bigger and add images</H1>
</div>